/***************** Layout *****************/


/* colors*/

.red-txt{
    color: red;
}

/*font-size*/

.s-txt{
    font-size: 14px ;
}
.m-txt{
    font-size: 16px ;
}
.l-txt{
    font-size: 19.5px ;
}
.xl-txt{
    font-size: 22px ;
}
